/* body {
    background-color: gray;
}
.error {
    color: red;
}
.normal {
    color: rgb(255, 255, 255);
}

#userListContainer {
    background-color: lightblue;
} */
/* .dark {
  background-color: #222;
  color: white;
} */